RabbitMQ.Adapters/.vs/
RabbitMQ.Adapters/HelloWorld.Services/bin/
RabbitMQ.Adapters/HelloWorld.Services/obj/
RabbitMQ.Adapters/RabbitMQ.Adapters.HttpHandlers/bin/
RabbitMQ.Adapters/RabbitMQ.Adapters.HttpHandlers/obj/
RabbitMQ.Adapters/packages/
RabbitMQ.Adapters/RabbitMQ.Adapters.WebServiceCaller/obj/
RabbitMQ.Adapters/RabbitMQ.Adapters.WebServiceCaller/bin/
*.user
*.suo
RabbitMQ.Adapters/RabbitMQ.Adapters.Common/bin/
RabbitMQ.Adapters/RabbitMQ.Adapters.Common/obj/
RabbitMQ.Adapters/HelloWorld.Client/bin/
RabbitMQ.Adapters/HelloWorld.Client/obj/
RabbitMQ.Adapters/RabbitMQ.Adapters.Route/bin/
RabbitMQ.Adapters/RabbitMQ.Adapters.Route/obj/
RabbitMQ.Adapters/RabbitMQ.Adapters.HttpHandlers/logfile.txt*
