<?xml version="1.0" encoding="utf-8" ?>
<routes>
  <route name="webservice1">
    <path>HelloWorld.Services/HelloWorldService.asmx</path>
    <destination>http://dc:8888/HelloWorldService.asmx</destination>
  </route>
  <route name="webservice2">
    <path>test/TestService.asmx</path>
    <destination>amqp://service1</destination>
  </route>
</routes>
