<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="HelloWorldServiceSoap">
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Windows" proxyCredentialType="None" realm="" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <behaviors>
      <endpointBehaviors>
        <behavior name="DelegationBehavior">
          <clientCredentials>
            <windows allowedImpersonationLevel="Delegation" allowNtlm="false" />
          </clientCredentials>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <client>
      <endpoint address="http://dc:8080/HelloWorld.Services/HelloWorldService.asmx"
          binding="basicHttpBinding" bindingConfiguration="HelloWorldServiceSoap"
          contract="ServiceReferences.HelloWorldServiceSoap" name="HelloWorldServiceSoap" behaviorConfiguration="DelegationBehavior">
        <identity>
          <servicePrincipalName value="HTTP/dc:8080"/>
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>