<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="HelloWorldServiceSoap" />
        <binding name="HelloWorldServiceSoap">
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Windows" proxyCredentialType="None" realm="" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://dc:8080/HelloWorld.Services/HelloWorldService.asmx"
        binding="basicHttpBinding" bindingConfiguration="HelloWorldServiceSoap"
        contract="HelloWorldService.HelloWorldServiceSoap" name="HelloWorldServiceSoap" />
    </client>
  </system.serviceModel>
</configuration>