<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>
    <add key="HostName" value="AURA" />
    <add key="VirtualHost" value="/" />
    <add key="UserName" value="isa-web-service-caller" />
    <add key="Password" value="isa-web-service-caller" />
  </appSettings>
</configuration>